<%- include("partials/header.ejs") %>
<%# ----top content bar--- %>
<section class="sectionTop">
    <%# greetings, Qoute and add new task %>
    <div class="d-flex flex-wrap justify-content-between ">
        <div class="p-3 flex-fill">
            <h1 id="greeting" class="d-inline-flex">Good Morning! User</h1><h1 class="d-inline-flex fw-bolder text-dark text-capitalize"> <%if (locals.user){ %> <%=user.userName%> <% } %></h1> 
            <h3 id="qouteOfTheDay" class="fs-4">Opportunities don't happen, you create them.</h3>
        </div>
        <div class="d-flex flex-column justify-content-center p-3 ">
            <div class="dropdown-center">
                <button class="btn btn-outline-light dropdown-toggle fs-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="/images/plus-circle.svg" height="40px">
                    New List
                </button>
                <ul class="dropdown-menu gap-1 p-2 rounded-3  border-0 shadow w-220px text-center" data-bs-theme="light">
                    <form action="/addTopic" method="post">
                    <li><button class="dropdown-item rounded-2" name="topic" value="Grocery" type="submit">Grocery</button></li>
                    <li><button class="dropdown-item rounded-2" name="topic" value="Home" type="submit">Home</button></li>
                    <li><button class="dropdown-item rounded-2"  name="topic" value="Work" type="submit">Work</button></li>
                    <li><hr class="dropdown-divider"></li>
                    </form>    
                    <li class="d-grid gap-2">
                        <form action="/addTopic" method="post">
                            <div>
                                <input type="text" id="name" name="topic" class="dropdown-item rounded-2 " placeholder="Custom" aria-label="Custom" aria-describedby="basic-addon1" /> 
                            </div>
                            <button class="btn btn-outline-dark " type="submit">Create</button>
                        </form>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>

    <%# date, day and no. of tasks %>
    <div class="d-flex justify-content-between p-3">
        <div class="date d-grid text-center">
            <% const month = ["January","February","March","April","May","June","July","August","September","October","November","December"];
                const weekday = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
                const d = new Date();
            %>
            <h2 class="text-center"><%=d.getDate(); %> </h2>
            <p><%= month[d.getMonth()] %>, <%= d.getFullYear()%></p>
        </div>
        <div class="day">
            <h2 class="mt-3"><%= weekday[d.getDay()]; %></h2>
        </div>
        <div class = "totalTasks d-grid text-center">
            <h2><%= locals.user.list.length%></h2>
            <% if(locals.user.list.length<=1){ %>
            <p>List</p>
            <% }else{ %>
                <p>Lists</p>
            <% } %>
        </div>
    </div>

</section>
<%# --Lists creation-- %>
<section>
    <% if(Boolean(locals.user.list.length<1)){ %>
        <h2 class="fs-1 text-center m-5"> ➕Please add new list!</h2>

    <% } %>
    
    <ol class="list-group list-group-numbered p-3 fs-3 ">
         <% if(locals.user){ user.list.forEach((topic)=>{ %>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                <div class="d-flex justify-content-between"> 
                    <div class="fw-bold fs-3 topicEdit" id="<%= topic._id %>" ><%= topic.name %></div>
                    <form action="/delete" method="post"><input hidden name="id" value="<%= topic._id %>"> <button type="submit" class="btn fs-4 ">🗑</button> </form>    
                </div> 
                <ul class="list-group list-group-flush fs-5" id="<%= topic._id %>">
                    <% if(true){ topic.items.forEach((item,index)=>{ %>
                        <li class="list-group-item "> <input class="form-check-input me-1 completeLine" type="checkbox" value="" id="secondCheckboxStretched"/><span class="items" id="<%= index %>"><%= item %></span> </li>

                    <%  });} %>
                    <li class="d-grid gap-2">
                        <form action="/addItem" method="post">
                            <div>
                                <input type="text" id="name" name="<%= topic.name %>" value="" class="dropdown-item rounded-2 " placeholder="Enter Item" aria-label="Custom" aria-describedby="basic-addon1"/> 
                            </div>
                            <button class="btn btn-outline-dark btn-sm" type="submit">Add</button>
                        </form>
                    </li>
                </ul>
                </div>
              </li>
        <% }); } %>    
      </ol>
</section>
 


<%- include("partials/footer.ejs") %>

